.box{
    background-color: rgba($color: black, $alpha: 0.2);
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    min-height: 100px;

    .title{
        color: rgba(255, 255, 255, 0.7);
        font-size: 17px;
        font-weight: 300;
    }

    .content{
        display: flex;
        grid-template-columns: repeat(2, 50%);
        gap: 10px;
        color: white;
        max-height: fit-content;
        margin-bottom: auto;
        padding: 0 10px;
    }

    .info{
        align-self: center;
        font-size: 25px;
        font-weight: 600;
        
    }

    .icon{
        height: 36px;
        width: 36px;
        margin-left: auto;
    }

}